
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

:root {
  --form-bg: #f8f4e5;
  --form-shadow: #00A149;
  --form-primary: #2658D8;
  --form-secondary: #FFC900;
  --font-size: 12pt;
  --font-face: 'Fjalla One';
  --font-color: #2A293E;
}

*, 
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./img/bgform.jpg") center no-repeat;
  background-size: cover;
  font-family: var(--font-face);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--form-bg);
  padding: 20px 100px;
  border: 2px solid rgba(0,0,0,1);
  box-shadow: 15px 15px 1px var(--form-shadow), 15px 15px 1px 2px rgba(0,0,0,1);
}

.form-survey {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--form-bg);
  padding: 50px 100px;
  border: 2px solid rgba(0,0,0,1);
  box-shadow: 15px 15px 1px var(--form-shadow), 15px 15px 1px 2px rgba(0,0,0,1);
}

/* CHECKBOX */
.check-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label-check {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.checkbox-text {
  font-size: 14px;
}

.check-box {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-secondary);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.check-box::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--font-color);
  background-color: CanvasText;
}

.check-box:checked::before {
  transform: scale(1);
}

.check-box:focus {
  outline: none
}

/* RADIO BUTTON */
.radio-wrap {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.label-radio {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.check-radio {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-secondary);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.check-radio::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--font-color);
  background-color: CanvasText;
}

.check-radio:checked:before {
  transform: scale(1);
}

.check-radio:focus {
  outline: none;
}

/* INPUT */
.input-form, select {
  display: block;
  width: 100%;
  font-size: var(--font-size);
  line-height: var(--font-size) * 2;
  font-family: var(--font-face);
  margin-bottom: 1rem;
  border: none;
  border-bottom: 5px solid rgba(0,0,0,1);
  background: var(--form-bg);
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: rgba(0,0,0,1);
}

.input-form:focus, select:focus {
  border-bottom: 5px solid var(--form-primary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  border-bottom: 5px solid var(--form-primary);
  -webkit-text-fill-color: var(--font-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--form-bg) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* TEXTAREA */
textarea {
  min-height: 50px;
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--font-color);
  outline: none;
}

textarea:focus {
  border: 2px solid var(--form-primary);
}

/* SUBMIT BUTTON */
button {
  display: block;
  margin: 0 auto;
  line-height: var(--font-size) * 2;
  font-family: var(--font-face);
  padding: 10px 30px;
  background: var(--form-secondary);
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 3px 3px 1px 1px var(--form-primary), 3px 3px 1px 2px rgba(0,0,0,1);
}

button:hover {
  background: var(--form-primary);
  color: white;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 3px 3px 1px 1px var(--form-secondary), 3px 3px 1px 2px rgba(0,0,0,1);
}

::selection {
  background: var(--form-secondary);
}
